extends layout

block content
  div(class="container-fluid")
  
    if (err)
        div
            h2(style = "color: red;")= err
  
    img(src="https://avatars1.githubusercontent.com/u/20357099?v=3&u=4c1555ae5490d2155959e65c2dd930e782f1c703&s=400" alt="My Face")
    p
      a(href="mailto:suhit.kmr1@gmail.com") 
        i(class="fa fa-envelope fa-fw")
      a(href="https://github.com/suhitk1" target="_blank") 
        i(class="fa fa-github fa-fw")
      a(href="http://codepen.io/suhitk1" target="_blank") 
        i(class="fa fa-codepen")
      a(href="http://www.freecodecamp.com/suhitk1" target="_blank")
        i(class="fa fa-fire fa-fw")
    p Created by Suhit (suhitk1) Kumar.
    h1(class="header")
      | FreeCodeCamp API: File Metadata Microservice
    blockquote
      p User stories:
      ol
        li I can submit a FormData object that includes a file upload.
        li When I submit something, I will receive the file size in bytes within the JSON response.
        li Hint: You may want to use this package:
           a(href="https://www.npmjs.com/package/multer" target='_blank')  Multer
    h2 Upload file
    form(role="form", action="/upload", method="post", enctype="multipart/form-data")
        div(class="form-group")
            label Upload File
            input(type="file", name="userFile", id="myfile")
            input(type='submit', name='send', id='sendFile')
